.alerts {
  position: fixed;
  margin: 0 auto;
  width: 450px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1051;
  .alert {
    left: 0;
    right: 0;
    width: 100%;
    margin: 10px auto;
    font-size: 13px;
		border-radius: 10px;
		.close {
			float: right;
			background: transparent;
			border: none;
			line-height: 0.7;
			font-size: 30px;
			outline: none;
		}
  }
}