
.btns .btn {
  margin-right: 5px;
}

.btn {
  background: transparent;
  border-radius: 50px;
  padding: 9px 23px;
  font-size: 12px;
  color: black;
  transition: all .2s ease;
  &:hover, &:focus, &:active {
    background-color: transparent;
    text-decoration: none;
    outline: none;
  }

  &.loading {
    position: relative;
    color: transparent !important;
    &:before {
      position: absolute;
      content: "";
      top: 25%;
      right: 0;
      left: 0;
      width: 20px;
      height: 20px;
      margin: 0 auto;
      border-radius: 500rem;
      border: 0.2em solid rgba(0, 0, 0, 0.1);
    }
    &:after {
      border-color: #46d381 transparent transparent;
      -webkit-animation: loader .6s linear;
      animation: loader .6s linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      border-radius: 500rem;
      border-color: #767676 transparent transparent;
      border-style: solid;
      border-width: .2em;
      box-shadow: 0 0 0 1px transparent;
      position: absolute;
      content: "";
      top: 25%;
      right: 0;
      left: 0;
      width: 20px;
      height: 20px;
      margin: 0 auto;
    }
  }

  &.btn-sm {
    padding: 5px 15px;
    font-size: 10px;
  }

  &.btn-default {
    border: 1px solid #929292;
    color: #929292;
    &:hover {
      background-color: #929292;
      color: white;
    }
    &.btn-default:active, &.btn-default:focus {
      outline: none;
    }
  }

  &.btn-primary, &.btn-primary:focus, &.btn-primary:active {
    border: 1px solid #46d381;
    color: #46d381;
    background: transparent;
    box-shadow: none;
    outline: none;
    &:hover {
      background-color: #46d381;
      color: white;
    }
  }
  &.btn-secondary, &.btn-secondary:focus, &.btn-secondary:active {
    border-color: #216189;
    color: #216189;
    &:hover {
      background-color: #216189;
      color: white;
    }
  }
  &.btn-danger, &.btn-danger:focus, &.btn-danger:active {
    border: 1px solid #d34664;
    color: #d34664;
    background: transparent;
    box-shadow: none;
    outline: none;
    &:hover {
      background-color: #d34664;
      color: white;
    }
  }
  &.btn-gold, &.btn-gold:focus, &.btn-gold:active {
    border: 1px solid #e5bf56;
    color: #d2a93b;
    font-weight: bold;
    &:hover {
      background-color: #e5be56;
      color: white;
    }
  }
}


/* Active Animation */
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}