/* Boolean Checkbox */

input[type="checkbox"].boolean-checkbox {
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  height: 30px;
  width: 60px;
  font-size: 11px;
  border-radius: 1.5em;
  background-color: #e0e0e0;
  border-color: transparent;
  background-clip: padding-box;
  color: #989898;
  vertical-align: middle;
  transition: all 0.25s linear 0.25s;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;
    background-color: white;
    border-radius: 100%;
    border: 0.125em solid transparent;
    background-clip: padding-box;
    z-index: 2;
    transform-origin: right center;
    animation: switch-off-transform 0.25s ease-out forwards;
  }

  &::after {
    position: absolute;
    left: 0.9em;
    top: 0;
    line-height: 2.5;
    font-family: "Open Sans";
    font-weight: normal;
    content: attr(title);
    z-index: 1;
  }
  &:focus {
    color: #b1b1b1;
    border-color: transparent;
    background-color: #ececec;
    outline: none;
  }

  &:checked {
    color: white;
    background-color: #55c784;
    border-color: transparent;

    &::before {
      transform-origin: left center;
      animation: switch-on-transform 0.25s ease-out forwards;
    }
  }
}

.row input[type="checkbox"].boolean-checkbox {
  margin-left: 0;
  margin-top: 0;
}

@keyframes switch-on-position {
  0% {
    left: 0;
    right: 50%;
  }
  
  25% {
    left: 0;
    right: 37.5%;
  }
  100% {
    left: 50%;
    right: 0;
  }
}
@keyframes switch-off-position {
  0% {
    left: 50%;
    right: 0;
  }
  25%{
    left: 37.5%;
    right: 0;
  }
  100% {
    left: 0%;
    right: 50%;
  }
}  
@keyframes switch-on-transform {
  0% {
    transform: translate(0) scaleX(1);
  }
  25% {
    transform: translate(0) scaleX(1.33);
  }
  100% {
    transform: translate(100%) scaleX(1);
  }
}  
@keyframes switch-off-transform {
  0% {
    transform: translate(100%) scaleX(1);
  }
  25% {
    transform: translate(100%) scaleX(1.33);
  }
  100% {
    transform: translate(0) scaleX(1);
  }
} 

/* Checkbox default */

$color_1: #fff;
$color_2: #9e9e9e;
$color_3: #4FC3F7;

input[type='checkbox'] {
	height: 0;
	width: 0;
  display: none;
	&+label {
		position: relative;
		display: flex;
		margin: 0;
		align-items: center;
		color: $color_2;
		transition: color 250ms cubic-bezier(.4,.0,.23,1);
		>span {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 1em;
			width: 14px;
			height: 14px;
			background: transparent;
			border: 1px solid #cacaca;
			border-radius: 2px;
			cursor: pointer;
			transition: all 250ms cubic-bezier(.4,.0,.23,1);
		}
		&:hover {
			color: $color_1;
			>span {
				background: rgba(255,255,255,.1);
			}
		}
	}
	&:focus {
		&+label {
			color: $color_1;
			>span {
				background: rgba(255,255,255,.1);
			}
		}
	}
	&:checked {
		&+label {
			>span {
				//border: 8px solid #FFEB3B;
				animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
				&:before {
					content: "";
					position: absolute;
					top: 4px;
					left: 2px;
					border-right: 2px solid transparent;
					border-bottom: 2px solid transparent;
					transform: rotate(45deg);
					transform-origin: 0% 100%;
					animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
				}
			}
		}
	}
}

@keyframes shrink-bounce{
  0%{
    transform: scale(1);
  }
  33%{    
    transform: scale(.85);
  }
  100%{
    transform: scale(1);    
  }
}
@keyframes checkbox-check{
  0%{
    width: 0;
    height: 0;
    border-color: #9E9E9E;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  33%{
    width: 10px;
    height: 0;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  100%{    
    width: 6px;
    height: 9px;    
    border-color: #9E9E9E;
    transform: translate3d(0,-.5em,0) rotate(45deg);
  }
}