.icon.input {
	position: relative;
	.form-control {
		border: none;
		box-shadow: none;
		border-bottom: 2px solid #f3f3f3;
		border-radius: 0;
		padding-left: 30px;
		padding-bottom: 15px;
		font-size: 22px;
		margin-top: 20px;
	}
	.fa {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 22px;
		opacity: .2;
	}
}

.labeled-input {
  .label {
    border: 1px solid #d2d2d2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 7px 10px;
    display: inline-block;
    width: 125px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    background: white;
    margin: 0;
    vertical-align: initial;
  }
  .value {
    width: 55%;
    display: inline-block;
    margin-left: -5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #d2d2d2;
    font-size: 12px;
  }
}