
.input-loader {
  display: none;
  position: absolute;
  top: 34px;
  right: 35px;
  margin: 0px;
  text-align: center;
  z-index: 1000;
  transform: translateX(-50%) translateY(-50%);
  /* Static Shape */
  &:before {
    position: absolute;
    content: '';
    top: 0%;
    left: 50%;
    width: 100%;
    height: 100%;

    border-radius: 500rem;
    border: .2em solid rgba(0,0,0,.1);
  }

  /* Active Shape */
  &:after {
    position: absolute;
    content: '';
    top: 0%;
    left: 50%;
    width: 100%;
    height: 100%;

    animation: loader .6s linear;
    animation-iteration-count: infinite;

    border-radius: 500rem;

    border-color: #767676 transparent transparent;
    border-style: solid;
    border-width: .2em;

    box-shadow: 0px 0px 0px 1px transparent;
  }
  
  &:before,
  &:after {
    width: 20px;
    height: 20px;
    margin: 0 0 0 -1.14285714rem;
  }

  &.active,
  &.visible {
    display: block;
  }
  &.disabled,
  &.hidden {
    display: none;
  }
}

/* Active Animation */
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**
 * page loader
 **/

$bg: #8c8c8c;
$bg-light: #8c8c8c;
$fg: #4db37b;

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	height: 35px;
	width: 10px;
	border-radius: 10%;
	background: $bg-light;
	border-top-color: $fg;
	animation: fade2 1s infinite;
	transition: background .2s;
	&:after, &:before {
		content: '';
		position: absolute;
		display: block;
		height: 30px;
		width: 10px;
		background: $bg-light;
		top: 50%;
		transform: translateY(-50%);
		left: -15px;
		border-radius: 10%;
		animation: fade1 1s infinite;
		transition: background .2s;
	}
	&:before { left: 15px; animation: fade3 1s infinite; }
  @at-root .overflow {
    top: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    position: fixed;
    z-index: 1100;
    opacity: .8;
    visibility: visible;
    transition: all ease .3s;
    &.hide {
      display: initial !important;
      visibility: hidden !important;
      opacity: 0 !important;
    }
  }
}

@keyframes fade1 {	0% { background: $fg; } }
@keyframes fade2 {	33% { background: $fg; } }
@keyframes fade3 {	66% { background: $fg; } }