.modal-backdrop.fade.show {
  filter: alpha(opacity=50);
  opacity: .5;
  z-index: 1040;
}

.fade.show {
  opacity: 1;
}

.modal-content {
  z-index: 1050;
  padding: 20px 40px;
  border-radius: 20px;
  .close {
    padding: 5px 20px;
    font-size: 50px;
    font-weight: 100;
    position: absolute;
    right: 0;
    top: 0;
  }
}