.tab-menu {
	font-size: 0;
	margin-top: 45px;
	display: flex;
	.item {
		padding: 10px 20px 10px 20px;
		color: #6d6d6d;
		margin: 0;
		font-size: 12px;
		border: 1px solid #eaeaea;
		border-bottom: none;
		border-right: none;
		cursor: pointer;
		text-decoration: none;
		transition: all ease .2s;
		&:last-child {
			border-top-right-radius: 5px;
			border-right: 1px solid #eaeaea;
		}
		&.active {
			border-top: 3px solid #3bd735;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			background: white;
			margin-top: -5px;
			font-weight: 600;
			letter-spacing: 0.05em;
			transition: all ease .2s;
		}
		&:hover {
			background-color: white;
		}
		&.disabled {
			background: #f7f7f7;
			color: #bdbdbd;
			cursor: not-allowed;
		}
	}
}

.tab-content {
	border: 1px solid gainsboro;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}