.list {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
  transition: visibility .3s ease-in-out, opacity .3s ease-in-out, margin .3s ease-in-out, height .6s ease-in-out;
}

.table {
  &>thead>tr>th:first-child {
    width: 50px;
  }
  >thead>tr>th {
    color: #797979;
    font-size: 12px;
  }
  >tbody>tr>td, >tbody>tr>th, >tfoot>tr>td, >tfoot>tr>th, >thead>tr>td, >thead>tr>th {
    border-top: 1px solid #ddd;
    color: #797979;
    padding: 15px 8px;
    vertical-align: middle;
    outline: none;
  }
  input[type="checkbox"].boolean-checkbox {
    margin: 0;
    height: 25px;
    width: 50px;
    font-size: 9px;
    &:after {
      top: 2px;
    }
  }
  .btn {
    padding: 2px 15px;
    font-size: 11px;
    vertical-align: baseline;
    float: right;
  }
  &.table-hover {
    >tbody>tr:hover {
      background: #f5f5f5;
    }
    &.table-nested {
      >tbody:hover {
        background: #f9f9f9;
      }
      >tbody>tr:hover {
        background: transparent;
      }
    }
  }
  &.table-nested {
    border-collapse: collapse;
    >tbody {
      border-top: 1px solid #ddd;
      tr.nested-item td {
        padding-top: 0;
        padding-bottom: 0;
        border: none;
        color: #a2a2a2;
        font-size: 12px;
        &:first-child {
          padding-left: 58px;
        }
        div {
          max-height: 0;
          box-sizing: border-box;
          overflow: hidden;
          transition: max-height 0.3s, padding 0.3s;
        }
      }
      tr.nested-item.show {
        display: table-row !important;
        td {
          border-bottom: 1px dotted #e2e2e2;
          div {
            max-height: 100px;
            padding: 10px 0;
            transition: max-height 0.3s, padding 0.3s;
          }
        }
        &:hover td div {
          color: #4f768e;
        }
      }
      td {
        border: none;
      }
    }
  }
}