.dropdown-menu {
  width: 95%;
  border-color: #e2e2e2;
  padding: 0;
  .dropdown-item {
    background: none;
    border: none;
    display: block;
    padding: 10px 20px;
    color: #5d5d5d;
    width: 100%;
    text-align: left;
    font-size: 13px;
    border-radius: 2px;
    &.active {
      color: #ffffff;
      background: #55b37c;
    }
  }
}