.search-mode {
	width: 100%;
	height: 100%;
	position: absolute;
	background: #FFF;
	opacity: 0;
	z-index: -1;
	transition: all ease .1s;
	&.active {
		opacity: 1;
		z-index: 1;
		transition: all ease .1s;
	}
	.result-list {
		padding-top: 15px;
		.item {
			padding: 10px 5px 10px 10px;
			cursor: pointer;
			border: 1px solid #FFF;
			transition: all ease .2s;
			&:hover, &.active, {
				border-radius: 5px;
				background: #edf3f7;
				border: 1px solid #d7e5ea;
				transition: all ease .2s;
			}
			.fa {
				color: #c5c5c5;
				font-size: 22px;
				vertical-align: middle;
			}
			.content {
				display: inline-block;
				font-size: 12px;
				font-weight: 700;
				padding-left: 10px;
				color: #216189;
			}
		}
		.note {
			font-weight: 600;
			color: #4c6b7d;
			font-size: 12px;
		}
	}
}