<div class="row">
  <div class="col-md-12">
    <div class="icon input">
      <input #inputElement type="text" class="form-control" placeholder="{{placeholder}}" [(ngModel)]="input" (keydown)="handleKeyDown($event)"
        (focus)="handleFocus($event)">
      <i class="fa fa-search"></i>
    </div>
  </div>
</div>
<div class="search-mode" [ngClass]="{ active : areSuggestionsVisible }">
  <div class="loading" *ngIf="searching">
    <div class="loader">Buscando...</div>
  </div>

  <div class="result-list" *ngIf="!searching">

    <div class="item"
      *ngFor="let item of suggestions"
      [ngClass]="{ active: itemIsActive(item) }"
      (click)="selectSuggestion(item)"
      (mouseenter)="suggestionMouseOver(item)"
      (mouseleave)="suggestionsMouseOut($event)">
      <i class="fa fa-university"></i>
      <div class="content">
        <div class="header">{{item.title}}</div>
      </div>
    </div>
    <p *ngIf="input.length < 3 && suggestions.length == 0" class="note">Digite pelo menos 3 caracters para buscar ou pressione ESC para sair da busca</p>
    <p *ngIf="input.length >= 3 && suggestions.length == 0" class="note">Nenhum resultado para busca!</p>
  </div>
</div>
