<div class="navbar">
  <!-- <div class="search-bar">
    <input type="text" name="search" placeholder="Consultar" class="form-control">
  </div> -->
  <div class="logged-user">
    <!-- <span class="photo" ng-if="currentUser"></span> -->
    <span class="name" *ngIf="currentUser.PRIMEIRO_NOME">Olá {{currentUser.PRIMEIRO_NOME}}!</span>
    <a (click)="logout($event)" href="javascript:;">[sair]</a>
  </div>

</div>
