@import '../../../assets/styles/scss/variables';

.navbar {
  position: absolute;
  top: 0;
  width: calc( 100% - 250px );
  left: $sidebar_width;
  text-align: right;
  padding: 15px 30px;
  line-height: 45px;
  margin-bottom: 0;
  z-index: 10;
  .search-bar {
    display: inline-block;
    vertical-align: sub;
    margin-right: 10px;
    .form-control {
      width: 200px;
      border-radius: 20px;
      font-size: 12px;
      transition: all cubic-bezier(0, 0, 0.2, 1) .3s;
      &:focus {
        width: 350px;
      }
    }
  }
  .logged-user {
    float: right;
    font-size: 14px;
    .photo {
      width: 50px;
      height: 50px;
      margin: 0 10px;
      background-image: url(/assets/images/profile-image.jpg);
      background-size: cover;
      background-position: 50%;
      border-radius: 50px;
      display: inline-block;
      vertical-align: middle;
    }
    .name {
      font-weight: 300;
      color: #8e8e8e;
      vertical-align: middle;
      display: inline-block;
    }
    a {
      vertical-align: middle;
      text-decoration: none;
      color: $default_color_primary;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}