<div class="page-login" [ngClass]="{ 'show-animation': showAnimation }">
  <div class="row row-login">
      <div class="box box-login">
        <a class="logo" href="#"> </a>
        <form (submit)="submit($event)" class="form-login">
            Usuário:
            <input type="text" name="user" class="form-control" placeholder="Usuário" [(ngModel)]="username">
            Senha:
            <input type="password" name="password" class="form-control" [(ngModel)]="password" required>
            <div class="alert alert-danger" [ngClass]="{'hide' : !message}">{{message}}</div>
            <button type="submit" class="btn btn-primary btn-login btn-block" [ngClass]="{'loading' : showLoading}" [disabled]="showLoading">Acessar</button>
            <div class="esqueci-a-senha">
                <!--<span>Esqueceu a senha?</span> <a href="javascript:;">Clique aqui.</a>-->
            </div>
        </form>
      </div> 
  </div>
</div>