<div class="wrapper">
    <h2 class="title">Instituições</h2>

    <app-search
      [placeholder]="'Digite o nome da instituição para buscar...'"
      [service]="instituicaoService"
      (suggestionSelected)="onSelected($event)">
    </app-search>

    <router-outlet></router-outlet>
</div>
