<div class="last-modified">
  <h4 class="note"><i class="fa"></i>Ultimas páginas alteradas</h4>
  <div class="items">
    <div *ngFor="let item of lastModified" class="item"
      [ngClass]="{'no-content': !item.CONTEUDO_CADASTRADO}"
      [routerLink]="['./editar/', item.ID_DETALHE_CURSO]">
      <i class="fa fa-file-code-o"></i>
      <div class="content">
        <a class="header">{{item.NOME}}</a>
        <div class="description" *ngIf="item.DT_ULTIMA_ALTERACAO">
          Atualizado {{item.DT_ULTIMA_ALTERACAO | amLocal:'pt-br' | amTimeAgo }}
        </div>
        <div class="description" *ngIf="!item.DT_ULTIMA_ALTERACAO">
          <i class="fa fa-exclamation-circle"></i> Ainda não foi atualizado
        </div>
      </div>
    </div>
  </div>
</div>
