.last-modified {
  margin-top: 30px;
  .note {
    font-size: 12px;
    font-weight: 700;
    border-left: 2px solid #3bd735;
    padding-left: 5px;
    color: #216189;
  }
  .items {
    .item {
      width: 700px;
      background: #f7f9f5;
      padding: 10px 15px;
      margin-bottom: 7px;
      border-radius: 5px;
      border: 1px solid #ddefc7;
      color: #929292;
      cursor: pointer;
      transition: all ease .2s;
      &:hover {
        background: lighten(#f7f9f5, 1%);
        margin-left: 2px;
        transition: all ease .2s;
      }
      &.no-content {
        background: #feffeaba;
        border: 1px solid #f7ff59;
      }
      .fa {
        display: inline-block;
        width: 20px;
        color: #3bd735;
      }
      .content {
        display: inline-block;
        vertical-align: text-top;
        width: 95%;
        .header {
          color: #216189;
          font-weight: 700;
        }
        .description {
          font-size: 12px;
        }
      }
    }
  }
}
