@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700,800');

.university {
	margin-top: 40px;
	position: relative;
	> .btn-secondary {
		position: absolute;
		right: 0;
		top: -5px;
		z-index: 2;
	}
	.logo {
		width: 100px;
		height: 100px;
		position: relative;
		display: inline-block;
		vertical-align: top;
		img {
			width: 100%;
			height: 100%;
			border-radius: 3px;
		}
		input[type="file"] {
			display: none;
		}
		label.btn {
			position: absolute;
			bottom: 0;
			background: rgba(0, 0, 0, 0.5);
			border-radius: 0;
			border: none;
			height: 0;
			padding-bottom: 0;
			padding-top: 0;
			width: 100%;
			overflow: hidden;
		}
		&:hover label.btn {
			height: 40px;
			padding: 13px 23px;
			color: white;
			font-weight: 500;
			font-size: 10px;
			letter-spacing: 1px;
		}
		.btn-primary {
			margin: 10px auto 0;
			display: block;
		}
	}
	.detail {
		width: 85%;
		display: inline-block;
		padding: 0 20px;
		.name {
			margin: 0 0 10px;
			font-weight: 400;
			font-size: 18px;
			color: #3bd735;
			.label {
				color: #d7eefd;
				background: #216189;
				border-left: 3px solid #2b8ecc;
			}
		}
		.item {
			display: inline-block;
			width: 45%;
			color: #ababab;
			margin-bottom: 10px;
			border-bottom: 1px dashed #e4e4e4;
			padding-bottom: 5px;
			vertical-align: bottom;
			.header {
				font-size: 12px;
				font-weight: 300;
				margin-bottom: 5px;
			}
			.value {
				font-weight: 500;
				font-size: 14px;
				letter-spacing: 0.05em;
				&a {
					color: #216189;
				}
			}
			.btn-sm.btn-gold {
				font-weight: normal;
			}
			&.inline-form {
				.form-control {
					width: 60%;
					display: inline-block;
				}
			}
		}
	}

	.tab-content {
		border: 1px solid gainsboro;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		.form-conteudo {
			.medium-input {
        width: 100%;
        .medium-editor-placeholder {
          position: relative;
          margin-top: 20px;
          margin-bottom: 10px;

          &:after {
            position: relative;
          }
        }
				.medium-editor-element {
					outline: 0;
          padding: 20px;
          min-height: 130px;
				}
				body, h1, h2, h3, h4, h5, p {
					font-family: 'Nunito', sans-serif;
					color: #484848;
				}
				h2, h3, h4, h5 {
					font-size: 16px;
					font-weight: 900;
				}
				p {
					font-size: 14px;
				}
			}
			.btns {
				padding: 10px;
				background: #f8f8f8;
				border-top: 1px dashed #dadada;
				text-align: right;
				.modified-date {
					font-size: 11px;
					padding: 10px 20px 10px 10px;
					margin: 0;
					font-weight: 500;
					display: inline-block;
					color: #216189;
					float: left;
				}
			}
		}
		.form-imagens {
			.row {
				border-bottom: 1px dashed #bbbbbb;
				margin-bottom: 15px;
				&:last-child {
					border-bottom: 0;
				}
			}
			.upload-preview {
				&.desktop-banner {
					max-height: 290px;
				}
				&.mobile-banner, .imagem-fachada {
					max-height: 363px;
				}
			}
		}
		.wrapper {
			padding: 20px;
			.row {
				padding-bottom: 10px;
				label {
					font-size: 12px;
					font-weight: 600;
					margin-bottom: 5px;
				}
			}
		}

		.btns {
			padding: 10px;
			background: #f8f8f8;
			border-top: 1px dashed #dadada;
			text-align: right;
		}
		.upload-preview {
			width: 100%;
			border-radius: 3px;
		}
	}
}
