<div class="university">
  <button class="btn btn-secondary" (click)="publish()" *ngIf="instituicao.CONTEUDO && !instituicao.CONTEUDO.FL_PUBLICAR">Publicar este site</button>
  <div class="row">
    <div class="col-md-12">
      <div class="logo">
        <img *ngIf="!hasImageUploader(uploaderLogo)" src="{{ renderImage('logo') }}" class="upload-preview">
        <img *ngIf="hasImageUploader(uploaderLogo)" imgPreview [image]="getImageUploader(uploaderLogo)" class="upload-preview" />
        <input type="file" id="logo" name="files1" autocomplete="off" ng2FileSelect [uploader]="uploaderLogo">
        <label class="btn" for="logo">
          Alterar
        </label>
        <button class="btn btn-primary btn-sm" *ngIf="hasImageUploader(uploaderLogo)" (click)="saveLogo()">
          Salvar
        </button>
      </div>
      <div class="detail">
        <h2 class="name">
          {{instituicao.NOME_FANTASIA}}
          <app-origem *ngIf="instituicao.ORIGEM" [origem]="instituicao.ORIGEM"></app-origem>
        </h2>
        <div class="item">
          <div class="header">Site</div>
          <a class="value" href="//{{instituicao.SITE}}" target="_blank">{{instituicao.SITE}}</a>
        </div>
        <div class="item">
          <div class="header">Telefone</div>
          <div class="value">({{instituicao.DDD}}) {{instituicao.NUMERO}}</div>
        </div>
        <div class="item">
          <div class="header">Link da instituição no creduc</div>
          <div class="labeled-input">
            <a class="label" href="http://www.creduc.com.br/{{instituicao.SLUG}}" target="_blank">creduc.com.br/</a>
            <input class="value form-control" type="text" placeholder="faculdade-creduc" (focusout)="slugify()" [(ngModel)]="slug">
          </div>
        </div>
        <div class="item">
          <div class="header">Nome da Instituição</div>
          <input class="value" class="form-control" type="text" placeholder="Dê um nome curto/abreviado para a instituição" [(ngModel)]="apelido">
        </div>
        <div class="btns">
          <button class="btn btn-default" (click)="resetForm()">
            Cancelar
          </button>
          <button class="btn btn-primary" (click)="saveDetail()">
            Salvar Detalhes da Instituição
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-menu">
    <a class="item" [ngClass]="{ 'active' : selectedTab === 'conteudo'}" (click)="selectedTab = 'conteudo'">Conteúdo</a>
    <a class="item" [ngClass]="{ 'active' : selectedTab === 'imagens'}" (click)="selectedTab = 'imagens'">Imagens</a>
    <a class="item" [ngClass]="{ 'active' : selectedTab === 'seo', 'disabled' : instituicao.CONTEUDO?.ID_CONTEUDO == 0 }" (click)="instituicao.CONTEUDO?.ID_CONTEUDO > 0 ? selectedTab = 'seo' : ''">SEO</a>
  </div>

  <div class="tab-content">
    <div class="form-conteudo" *ngIf="selectedTab === 'conteudo'">
      <div class="row">
        <div class="col-md-12">
          <medium-editor class="medium-input"
            [(editorModel)]="conteudo"
            [editorOptions]="editorOptions">
          </medium-editor>
        </div>
      </div>
      <div class="btns">
        <p class="modified-date" *ngIf="instituicao.CONTEUDO?.DT_ATUALIZACAO_CONTEUDO">Última modificação: {{ instituicao.CONTEUDO.DT_ATUALIZACAO_CONTEUDO | amDateFormat:'LL [às] H:mm' }}</p>
        <a class="btn" (click)="downloadDoc()" *ngIf="enabledFileSaver && instituicao.CONTEUDO?.ID_CONTEUDO" download>
          <i class="fa fa-download"></i> Baixar documento
        </a>
        <button class="btn btn-default" [routerLink]="['/instituicao']">
          Cancelar
        </button>
        <button class="btn btn-primary" (click)="saveConteudo()">
          <i class="fa fa-check"></i> Salvar
        </button>
      </div>
    </div>

    <div class="form-imagens" *ngIf="selectedTab === 'imagens'">
      <div class="wrapper">
        <div class="row">
          <div class="col-md-3 input-image">
            <h4>Banner Mobile</h4>
            <img *ngIf="!hasImageUploader(uploaderBannerMobile)" src="{{ renderImage('banner_mobile') }}" class="upload-preview mobile-banner">
            <img *ngIf="hasImageUploader(uploaderBannerMobile)" imgPreview [image]="uploaderBannerMobile?.queue[0]?._file" class="upload-preview mobile-banner"
            />
            <input type="file" id="bannerMobile" name="files1" autocomplete="off" ng2FileSelect [uploader]="uploaderBannerMobile" class="hide">
            <p class="filename">{{ uploaderBannerMobile.queue[0]?.file?.name }}</p>
            <label class="btn btn-primary" for="bannerMobile">Selecionar</label>
          </div>

          <div class="col-md-9 input-image">
            <h4>Banner Desktop</h4>
            <img *ngIf="!hasImageUploader(uploaderBannerDesktop)" src="{{ renderImage('BANNER_DESKTOP') }}" class="upload-preview desktop-banner">
            <img *ngIf="hasImageUploader(uploaderBannerDesktop)" imgPreview [image]="uploaderBannerDesktop?.queue[0]?._file" class="upload-preview desktop-banner"
            />
            <input type="file" id="bannerDesktop" name="files1" autocomplete="off" ng2FileSelect [uploader]="uploaderBannerDesktop" class="hide">
            <p class="filename">{{ uploaderBannerDesktop.queue[0]?.file?.name }}</p>
            <label class="btn btn-primary" for="bannerDesktop">Selecionar</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 input-image">
            <h4>Imagem da Instituição</h4>
            <img *ngIf="!hasImageUploader(uploaderImagemFachada)" src="{{ renderImage('FACHADA') }}" class="upload-preview imagem-fachada">
            <img *ngIf="hasImageUploader(uploaderImagemFachada)" imgPreview [image]="uploaderImagemFachada?.queue[0]?._file" class="upload-preview imagem-fachada"
            />
            <input type="file" id="imagemFachada" name="files1" autocomplete="off" ng2FileSelect [uploader]="uploaderImagemFachada" class="hide">
            <p class="filename">{{ uploaderImagemFachada.queue[0]?.file?.name }}</p>
            <label class="btn btn-primary" for="imagemFachada">Selecionar</label>
          </div>
        </div>
      </div>
      <div class="btns">
        <button class="btn btn-default" [routerLink]="['/instituicao']">
          Cancelar
        </button>
        <button class="btn btn-primary" (click)="saveImages()">
          <i class="fa fa-check"></i> Salvar
        </button>
      </div>
    </div>

    <div class="form-seo" *ngIf="selectedTab === 'seo'">
      <div class="wrapper">
        <div class="row">
          <div class="col-md-6">
            <label for="description">Descrição</label>
            <textarea [(ngModel)]="seo.DESCRIPTION" rows="3" placeholder="Descrição" class="form-control"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="description">Keywords</label>
            <textarea [(ngModel)]="seo.KEYWORDS" rows="2" placeholder="Descrição" class="form-control"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="description">Título</label>
            <input type="text" [(ngModel)]="seo.TITLE" placeholder="Informar título personalizado se necessário" class="form-control"/>
          </div>
        </div>
        <h4>Robots</h4>
        <div class="row">
          <div class="col-md-2">
            <label class="checkbox">
              <input type="checkbox" [checked]="seo.ROBOTS_INDEX" (change)="seo.ROBOTS_INDEX = $event.target.checked" class="boolean-checkbox"
                id="inscricao_hotsite" title="Sim Não"> Index
            </label>
          </div>
          <div class="col-md-2">
            <label class="checkbox">
              <input type="checkbox" [checked]="seo.ROBOTS_FOLLOW" (change)="seo.ROBOTS_FOLLOW = $event.target.checked" class="boolean-checkbox"
                id="inscricao_hotsite" title="Sim Não"> Follow
            </label>
          </div>
        </div>
      </div>
      <div class="btns">
        <button class="btn btn-default" [routerLink]="['/instituicao']">
          Cancelar
        </button>
        <button class="btn btn-primary" (click)="saveSeo()">
          <i class="fa fa-check"></i> Salvar
        </button>
      </div>
    </div>
  </div>
</div>
