<div class="sidebar">
  <a routerLink="/" href="javascript:;" class="logo"></a>
  <ul>
    <li><a class="item" routerLink="/instituicao" routerLinkActive="active">Instituições</a></li>
    <li><a class="item" routerLink="/curso" routerLinkActive="active">Cursos</a></li>
    <li><a class="item">Creduc</a></li>
  </ul>
</div>