@import '../../../assets/styles/scss/variables';

.sidebar {
  position: fixed;
  top: 0;
  left: -30px;
  width: $sidebar_width;
  height: 100vh;
  padding: 20px;
  background: rgba(0, 0, 0, 0.03);
  opacity: 0;

  @at-root .show-animation & {
    transition: all ease .4s;
    left: 0;
    opacity: 1;
  }

  .logo {
    display: block;
		background-image: url(/assets/images/logo.png);
		background-repeat: no-repeat;
		background-position-x: center;
		background-size: contain;
		background-position: center;
		width: 100%;
		height: 45px;
		opacity: .9;
		margin-top: 48px;
		margin-bottom: 40px;	
  }
  ul {
    list-style: none;
    padding-left: 65px;
    li a {
      font-size: 14px;
      color: #797979;
      margin: 15px 0;
      display: block;
      text-decoration: none;
      transition: all ease .1s;
      &.active {
        color: $default_color_primary;
        font-weight: bold;
        background: transparent;
      }
    }
  }
}