<div class="wrapper">
    <h2 class="title">Cursos</h2>

    <app-search
      [placeholder]="'Digite o nome do curso para buscar...'"
      [service]="cursoService"
      (suggestionSelected)="onSelected($event)">
    </app-search>

    <router-outlet></router-outlet>
</div>
