@import '../../../assets/styles/scss/variables';

.content {
  position: relative;
  top: 55px;
  width: calc(100% - 250px);
  min-width: 940px;
  left: $sidebar_width;
  padding: 0 45px 20px;
  .table {
    margin-top: 20px;
  }
}