<div class="course">
  <button class="btn btn-secondary" (click)="publish()" *ngIf="curso.CONTEUDO && !curso.CONTEUDO.FL_PUBLICAR">Publicar este site</button>
  <div class="row">
    <div class="col-md-12">
      <div class="detail">
        <h2 class="name">
          {{curso.NOME}}
          <!-- <app-origem *ngIf="curso.ORIGEM" [origem]="curso.ORIGEM"></app-origem> -->
        </h2>
        <div class="item">
          <div class="header">Link do curso no creduc</div>
          <div class="labeled-input">
            <a class="label" href="http://www.creduc.com.br/{{curso.SLUG}}" target="_blank">creduc.com.br/</a>
            <input class="value form-control" type="text" placeholder="nome-do-curso" [(ngModel)]="slug" disabled>
          </div>
        </div>
        <div class="item">
          <div class="header">Nome do Curso</div>
          <input class="value" class="form-control" type="text" placeholder="Dê um nome curto/abreviado para o curso" [(ngModel)]="apelido" disabled>
        </div>
        <!--
        <div class="btns">
          <button class="btn btn-default" (click)="resetForm()">
            Cancelar
          </button>
          <button class="btn btn-primary" (click)="saveDetail()">
            Salvar Detalhes do Curso
          </button>
        </div>
        -->
      </div>
    </div>
  </div>

  <div class="tab-menu">
    <a class="item" [ngClass]="{ 'active' : selectedTab === 'conteudo'}" (click)="selectedTab = 'conteudo'">Conteúdo</a>
    <a class="item" [ngClass]="{ 'active' : selectedTab === 'imagens' }" (click)="selectedTab = 'imagens'">Imagens</a>
    <a class="item" [ngClass]="{ 'active' : selectedTab === 'seo', 'disabled' : curso.CONTEUDO?.ID_CONTEUDO == 0 }" (click)="curso.CONTEUDO?.ID_CONTEUDO ? selectedTab = 'seo' : ''">SEO</a>
  </div>

  <div class="tab-content">
    <div class="form-conteudo" *ngIf="selectedTab === 'conteudo'">
      <div class="row">
        <div class="col-md-12">
          <medium-editor class="medium-input" [(editorModel)]="conteudo" [editorOptions]="editorOptions"
            [editorPlaceholder]="'Digite o conteúdo aqui...'">
          </medium-editor>
        </div>
      </div>
      <div class="btns">
        <p class="modified-date" *ngIf="curso.CONTEUDO?.DT_ATUALIZACAO_CONTEUDO">Última modificação: {{ curso.CONTEUDO.DT_ATUALIZACAO_CONTEUDO | amDateFormat:'LL [às] H:mm' }}</p>
        <a class="btn" (click)="downloadDoc()" *ngIf="enabledFileSaver && curso.CONTEUDO?.ID_CONTEUDO" download>
          <i class="fa fa-download"></i> Baixar documento
        </a>
        <button class="btn btn-default" [routerLink]="['/curso']">
          Cancelar
        </button>
        <button class="btn btn-primary" (click)="saveConteudo()">
          <i class="fa fa-check"></i> Salvar
        </button>
      </div>
    </div>

    <div class="form-imagens" *ngIf="selectedTab === 'imagens'">
      <div class="wrapper">
        <div class="row">
          <div class="col-md-3 input-image">
            <h4>Imagem do Curso</h4>
            <img *ngIf="!hasImageUploader(uploaderImagemCurso)" src="{{ renderImage('destaque') }}" class="upload-preview imagem-curso">
            <img *ngIf="hasImageUploader(uploaderImagemCurso)" imgPreview [image]="uploaderImagemCurso?.queue[0]?._file" class="upload-preview imagem-curso"/>
            <input type="file" id="imagemCurso" name="files1" autocomplete="off" ng2FileSelect [uploader]="uploaderImagemCurso" class="hide">
            <p class="filename">{{ uploaderImagemCurso.queue[0]?.file?.name }}</p>
            <label class="btn btn-primary" for="imagemCurso">Selecionar</label>

            <!-- <a *ngIf="hasSavedImage('destaque')" href="javascript:;" class="btn pull-right" title="Remover Imagem"><i class="fa fa-times"></i></a> -->

          </div>
        </div>
      </div>
      <div class="btns">
        <button class="btn btn-default" [routerLink]="['/curso']">
          Cancelar
        </button>
        <button class="btn btn-primary" (click)="saveImages()">
          <i class="fa fa-check"></i> Salvar
        </button>
      </div>
    </div>

    <div class="form-seo" *ngIf="selectedTab === 'seo'">
      <div class="wrapper">
        <div class="row">
          <div class="col-md-6">
            <label for="description">Descrição</label>
            <textarea [(ngModel)]="seo.DESCRIPTION" rows="3" placeholder="Descrição" class="form-control"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="description">Keywords</label>
            <textarea [(ngModel)]="seo.KEYWORDS" rows="2" placeholder="Descrição" class="form-control"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="description">Título</label>
            <input type="text" [(ngModel)]="seo.TITLE" placeholder="Informar título personalizado se necessário" class="form-control"
            />
          </div>
        </div>
        <h4>Robots</h4>
        <div class="row">
          <div class="col-md-2">
            <label class="checkbox">
              <input type="checkbox" [checked]="seo.ROBOTS_INDEX" (change)="seo.ROBOTS_INDEX = $event.target.checked" class="boolean-checkbox"
                id="inscricao_hotsite" title="Sim Não"> Index
            </label>
          </div>
          <div class="col-md-2">
            <label class="checkbox">
              <input type="checkbox" [checked]="seo.ROBOTS_FOLLOW" (change)="seo.ROBOTS_FOLLOW = $event.target.checked" class="boolean-checkbox"
                id="inscricao_hotsite" title="Sim Não"> Follow
            </label>
          </div>
        </div>
      </div>
      <div class="btns">
        <button class="btn btn-default" [routerLink]="['/curso']">
          Cancelar
        </button>
        <button class="btn btn-primary" (click)="saveSeo()">
          <i class="fa fa-check"></i> Salvar
        </button>
      </div>
    </div>
  </div>
</div>
